body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #eefdf3; /* verde claro */
    color: #063d2c;
}

/* ==================== CABEÇALHO ==================== */
header {
    background: #0c1f14; /* verde escuro */
    height: 330px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foto-container {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid #00ff66;
    box-shadow: 0 0 25px #00ff66;
}

.foto-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ==================== CONTEÚDO ==================== */
.conteudo {
    padding: 40px;
    text-align: center;
}

.conteudo h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

.texto-homenagem {
    max-width: 700px; /* deixa o formato mais quadrado */
    margin: 40px auto; /* centraliza */
    background-color: #e7f9ef; /* verde claro suave */
    padding: 30px;
    border-radius: 15px; /* cantinhos arredondados */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    text-align: center;
    line-height: 1.7;
}

/* ==================== MÚSICAS ==================== */
.lista-musicas {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 20px;
}

.lista-musicas a {
    text-decoration: none;
    background: #00c56d;
    color: white;
    padding: 12px;
    border-radius: 7px;
    transition: 0.3s;
    width: 280px;
    margin: 0 auto;
    font-size: 17px;
}

.lista-musicas a:hover {
    background: #009950;
    transform: scale(1.06);
}

/* ==================== ANIMAÇÃO ==================== */
.fade {
    opacity: 0;
    transform: translateY(25px);
    transition: 0.7s ease;
}

.fade.show {
    opacity: 1;
    transform: translateY(0);
}
